[package]
name = "bevy_mod_debugdump"
version = "0.9.0"
repository = "https://github.com/jakobhellermann/bevy_mod_debugdump"
readme = "README.md"
license = "MIT OR Apache-2.0"
description = "Visualization tools for bevy"
keywords = ["bevy", "schedule", "visual", "render", "graph"]
authors = ["Jakob Hellermann <jakob.hellermann@protonmail.com>"]
edition = "2021"
exclude = ["docs/*"]

[features]
default = ["render_graph"]
render_graph = []

[dependencies]
bevy_ecs = { version = "0.12" }
bevy_app = { version = "0.12" }
bevy_utils = { version = "0.12" }
bevy_render = { version = "0.12" }
pretty-type-name = "1.0"
petgraph = "0.6"
once_cell = "1.17"

[dev-dependencies]
bevy = { version = "0.12" }

[[example]]
name = "print_render_graph"
required-features = ["render_graph"]

[patch.crates-io]
bevy_ecs = { path = "/home/jakob/dev/rust/bevy/crates/bevy_ecs" }
bevy_app = { path = "/home/jakob/dev/rust/bevy/crates/bevy_app" }
bevy_utils = { path = "/home/jakob/dev/rust/bevy/crates/bevy_utils" }
bevy_render = { path = "/home/jakob/dev/rust/bevy/crates/bevy_render" }
bevy = { path = "/home/jakob/dev/rust/bevy" }
